<ion-view view-title="FoodInspector">
  <ion-content class="padding">

    <ul>
      <li class="list card" ng-repeat="item in itemsListCtrl.data">

        <div class="item item-avatar">
          <img src="../img/ben.png">
          <h2>{{item.user.name}}</h2>
          <p>Nine Inch Nails</p>
        </div>

        <div class="item item-image">
          <div
            class="post-image"
            style="background-image: url({{itemsListCtrl.domain + item.expectationUrl}});"></div>
          <div
            class="post-image"
            style="background-image: url({{itemsListCtrl.domain +  item.realityUrl}});
          "></div>
        </div>

        <div class="item" href="#">
          {{item.description}}
        </div>

      </li>

      <button class="button button-small button-assertive" ng-click="itemsListCtrl.loadMore()">
        Load more
      </button>
    </ul>



  </ion-content>
  <footer></footer>
</ion-view>
